p Log in

.row
    .col-md-6.col-md-offset-3
        =simple_form_for(:session, url: login_path) do |f|
            = f.input :username, class: 'form-control'
            = f.input :password, class: 'form-control'
            = f.submit "Log in", class: "btn btn-primary"


        p New user?
        = link_to "Sign up now!", sessions_signup_path
