.form_div
    h1 Sign up!!
    = simple_form_for(@user, url: users_create_path , html: {class: 'form-horizontal'}) do |f|
        =render 'shared/error_messages'
        =f.input :username
        =f.input :password
        =f.submit

    =link_to 'Login', login_path