-if @user.errors.any?
    #error_explanation
        .alert.alert-danger
            p
                | The form contains
                = pluralize(@user.errors.count, "error")

        ul
            -@user.errors.full_messages.each do |msg|
                li = msg

